<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.6.2/mvp.css">
    <title>OAuth 2.0 Client</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">OAuth 2.0 Client</a>
      </nav>
      <p>
        Your access token is <code>{{.AccessToken}}</code>.
        How cute.
      </p>
      <p>
        Refresh token is <code>{{.RefreshToken}}</code>
      </p>
      <p>
        Scope is <code>{{.Scope}}</code>
      </p>
      <p>
        <a href="/authorize"><i>Get Token</i></a>
        <a href="/fetch_resource"><i>Fetch resource</i></a>
      </p>
    </header>
  </body>
</html>
