<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.6.2/mvp.css">
    <title>OAuth 2.0 Client</title>
  </head>
  <body>
    <main>
      <h1>OAuth 2.0 Client</h1>
      <p>
        <a href="/authorize"><i>Get Token</i></a>
      </p>
      <p>
        <a href="/fetch_resource"><i>Fetch resource</i></a>
      </p>
    </main>
  </body>
</html>
