<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.6.2/mvp.css">
    <title>OAuth 2.0 Client</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">OAuth 2.0 Client</a>
      </nav>
      <p>
        <code>
          {{.Name}}
          {{.Description}}
        </code>
      </p>
    </header>
  </body>
</html>
